node_modules
.env
.env.local
.env.production
.DS_Store
*.pem
.next/
out/
build/
dist/
*.tsbuildinfo
next-env.d.ts
.vercel
coverage/
generated/
covered/
madeof/ .next
pg_data/
.env*
.gemini/

# Logs and screenshots
pg_data_start.log
postgres_log.txt
*.png
uploads/
